body {
    background: linear-gradient(to bottom right, #1a1a2e, #16213e);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.table-row-group:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-row-group:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word; /* Voorkom dat woorden uitlopen */
}

/* Stijl voor grotere schermen */
@media (min-width: 640px) {
    table {
        table-layout: auto; /* Zorgt ervoor dat de tabelcellen automatisch worden aangepast */
    }
}

/* Zorgen voor inzoomen op mobiele apparaten */
@media (max-width: 640px) {
    body {
        touch-action: manipulation; /* Voorkom dat er automatisch wordt gescrold */
    }
    table {
        width: 100%;
        overflow-x: auto; /* Zorg ervoor dat je kunt scrollen als dat nodig is */
        display: block; /* Zorg ervoor dat de tabel wordt weergegeven als een block-element */
        white-space: nowrap; /* Voorkom dat de cellen zich onder elkaar rangschikken */
    }
    th, td {
        display: inline-block; /* Laat de cellen inline zijn voor mobiel */
        min-width: 120px; /* Zorg ervoor dat de cellen breed genoeg zijn */
        text-align: center; /* Centeren van tekst in cellen */
    }
}
