body{
    background-image: url(Images/BG.png);
    background-size: 100%, 440%;
}

/* Animations */
/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(46, 46, 46, 1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(22, 22, 22);
  }

.button-primary{
    background-color: rgb(26, 115, 232);
    background-image: none;
    border: none;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    cursor: pointer;

    border-radius: 2rem;
}

.button-primary:hover{
    background-color: rgb(63, 141, 243);
}

.button-primary:active{
    background-color: rgb(18, 92, 189);
}

/* Header */
.header{
    display: flex;
    justify-content: end;

    margin-top: 1rem;
}

.header-buttons{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.header-item{
    color: #B4B4B4;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.header-item:hover{
    color: rgb(18, 92, 189);
}

/* Title */
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    height: 100%;
}

#title-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.3rem;
    margin-top: -1rem;
} 

#title-logo{
    height: 4rem;
}

#title-subtitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-size: 3rem;
    text-align: center;

    margin-top: 0.5rem;
    width: 70%;
}

/* Search box */
#title-search{
    display: flex;
    width: 40% ;
    height: 4rem;
    padding: 1rem;
}

#title-search input{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;

    background-color: rgba(50, 50, 50, 0.65);
    color: #B3B3B3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    width: 100%;

    margin-top: 1rem;
    border-radius: 2rem;

    box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.4);
}

#title-search button{
    margin-top: 1rem;
    margin-left: 1rem;

    width: 50%;
    box-shadow: 0px 0px 10px 0px rgba(26, 115, 232, 0.9);
}

/* Images */
.image-container{
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;    
    overflow: hidden;

    padding-top: 2rem;
}

.title-images{
    display: flex;
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    background-color: #B4B4B4;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    aspect-ratio: 16/9;
}

/* Info page */
.infopage{
    padding-top: 3rem;
}

.info-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.3rem;
}

.info-p{
    color: #B4B4B4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;

    margin-top: 1rem;
    width: 80%;
}

#info-loc{
    width: 50%;
    padding-left: 2rem;
}

#info-trust{
    width: 50%;
    float: right;
    padding-right: 2rem;
}

#p{
    text-align: right;
    float: right;
}

#t{
    text-align: right;
}

@media only screen and (max-width: 600px){
    .header-item{
        font-size: 0.7rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .button-primary{
        font-size: 0.7rem;
    }

    #title-subtitle{
        font-size: 1.5rem;
    }

    #title-title{
        font-size: 2rem;
        margin-top: -0.5rem;
    }

    #title-logo{
        height: 2rem;
    }

    /* Search box */
    #title-search input{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        border: none;
    
        background-color: rgba(50, 50, 50, 0.65);
        color: #B3B3B3;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 0.7rem;
        text-align: left;
    
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    
        width: 100%;
    
        margin-top: 1rem;
        border-radius: 2rem;
    
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.4);
    }    

    #title-search{
        display: flex;
        width: 75% ;
        height: 3rem;
    }

    #title-search button{
        margin-top: 1rem;
        margin-left: 1rem;
    
        width: 50%;
        box-shadow: 0px 0px 10px 0px rgba(26, 115, 232, 0.9);
    }

    
    .title-images{
        border-radius: 5px;
    }

    /* Info page */
    .infopage{
        padding-top: 3rem;
    }
    
    .info-title{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }
    
    .info-p{
        color: #B4B4B4;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1rem;
    
        margin-top: 1rem;
        width: 80%;
    }
